<f:spaceless>
    <f:switch expression="{col}">
        <f:case value="1">{data.col_1_class} {data.col_1_sm_class} {data.col_1_md_class} {data.col_1_lg_class} {data.col_1_xl_class} {data.col_1_xxl_class} {data.col_1_custom_class}</f:case>
        <f:case value="2">{data.col_2_class} {data.col_2_sm_class} {data.col_2_md_class} {data.col_2_lg_class} {data.col_2_xl_class} {data.col_2_xxl_class} {data.col_2_custom_class}</f:case>
        <f:case value="3">{data.col_3_class} {data.col_3_sm_class} {data.col_3_md_class} {data.col_3_lg_class} {data.col_3_xl_class} {data.col_3_xxl_class} {data.col_3_custom_class}</f:case>
        <f:case value="4">{data.col_4_class} {data.col_4_sm_class} {data.col_4_md_class} {data.col_4_lg_class} {data.col_4_xl_class} {data.col_4_xxl_class} {data.col_4_custom_class}</f:case>
    </f:switch>
</f:spaceless>